# dependencies
server/node_modules/
client/node_modules/

# production
/client/build

# misc
.DS_Store
server/npm-debug.log*
.nyc_output/
client/npm-debug.log
server/package-lock.json
client/package-lock.json